<div class="row">
    <div class="header col-md-12 header-print" style="margin-top: -35px;">
        <div class="no-print rightText" id="bypassme">
            <button style="margin: 10px 10px; width:100px;" class="btn btn-large dontprint" onclick="DownloadPDF()">Download <i
                class="icon-white icon-folder-open"></i></button>
            <form id="form-download-file" action="getfile.php" method="POST" hidden>
                <input value="" type="text" name="url">
            </form>
        </div>

    </div>
</div>


<div class="container" style="font-size:18px;">
        <table class="table table-hover table-bordered" id="top-header">
            <tbody>
            <tr class="stable-row">
                <td style="width:50%">
                    <p style="text-align: left;">
                        <img id="imgData" alt="MDT LOGO" src="img/Logo.png" style="height: 100px; width: 220px;">
                    </p>

                </td>
                <td>
                    <strong>Contact Name:</strong>  {{ data.contact }} <br/>
                    <strong>Contact Phone:</strong>  <br/>
                    <strong>Contact Email:</strong>  <br/>
                    <strong>Part Number:</strong> {{ data.material.name }}<br/>
                    <strong>SampleIn ID:</strong> {{ sampinId }} <br/>
                </td>
            </tr>
            </tbody>
        </table>


        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="para">Parameters</th>
                <th class="result">Provided</th>
                <th class="result">Tested</th>
            </tr>
            </thead>
            <tbody>
            <tr class="stable-row">
                <td class="para">Melt Flow</td>
                <td class="result">{{ data.provided.meltflow }} dg/min</td>
                <td class="result">{{ data.tested.meltflow }} dg/min</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Filler Content</td>
                <td class="result">{{ data.provided.fillerContent }} %</td>
                <td class="result">{{ data.tested.fillerContent }} %</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Density</td>
                <td class="result">{{ data.provided.density }} g/cm^3</td>
                <td class="result">{{ data.tested.density }} g/cm^3</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Tensile Strength</td>
                <td class="result">{{ data.provided.tensileStrength }} psi</td>
                <td class="result">{{ data.tested.tensileStrength }} psi</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Flexural Modulus</td>
                <td class="result">{{ data.provided.flexuralModulus }} psi</td>
                <td class="result">{{ data.tested.flexuralModulus }} psi</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Color Reading</td>
                <td class="result">{{ data.provided.colorReading }}</td>
                <td class="result">{{ data.tested.colorReading }}</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Izod-Notched</td>
                <td class="result">{{ data.provided.izodNotched }} ft-lb/in</td>
                <td class="result">{{ data.tested.izodNotched }} ft-lb/in</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Color</td>
                <td class="result">{{ data.color }}</td>
                <td class="result"></td>
            </tr>

            <tr class="stable-row">
                <td class="para">Monthly Volume</td>
                <td class="result">{{ data.monthlyVolume }}</td>
                <td class="result"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>



   